{% extends 'profile/baseProfile.html.twig' %}

{% block title %}add.collection{% endblock %}

{% block profileTitle %}
    <h1>add collection</h1>
{% endblock %}

{% block profileContent %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

