{% for collection in allCollections %}
    <li class="nav-item d-flex justify-content-between align-items-center">
        <span>
            <a class="nav-link" href="{{ path('view_own_collection', {id: collection.id}) }}">
                {{ collection.name }}
            </a>
        </span>
    </li>
{% endfor %}