<ul class="nav flex-column mb-2">
    {% for ownCollection in ownCollections %}
            <li class="nav-item d-flex justify-content-between align-items-center">
                <span>
                    <a class="nav-link" href="{{ path('view_own_collection', {id: ownCollection.id}) }}">
                        {{ ownCollection.name }}
                    </a>
                </span>
                <a class="link-secondary " href="#" >
                    <i class="bi bi-pencil"></i>
                </a>
                <a class="link-secondary " href="{{path('delete_own_collection', {id: ownCollection.id})}}" >
                    <i class="bi bi-x-lg"></i>
                </a>
            </li>
    {% endfor %}
</ul>