{% extends 'base.html.twig' %}

{% block title %}{{ 'Homepage'|trans }}{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    </style>

    <div class="example-wrapper">
        {{ render_esi(url('list_all_collections')) }}
    </div>
{% endblock %}
